<p style="color: green"><%= notice %></p>

<%= render @icome_transaction %>

<div>
  <%= link_to "Edit this icome transaction", edit_icome_transaction_path(@icome_transaction) %> |
  <%= link_to "Back to icome transactions", icome_transactions_path %>

  <%= button_to "Destroy this icome transaction", @icome_transaction, method: :delete %>
</div>
